{
  "env": {
    "mocha": true
  },
  "rules": {
    "global-require": [0]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "tests/webpack.config.js"
      }
    }
  }
}
